.subject-tag {
    font-size: 14px;
    font-weight: normal;
}

#tutorial-list {
    padding: 0 15px;
}

.tutor-info:hover {
    cursor: pointer;
}

.confirmbtn {
    float: right;
    margin: 15px 0 15px 15px;
}

.tutor-search .form-control:focus {
    border-color: #0457b7;
    box-shadow: 0 0 0 3px rgba(4, 87, 183, .25);
}

.tutor-search .input-group {
    margin-bottom: 10px;
}