/* search box style */

.info-box .form-control {
    padding: .4rem .5rem;
}

.search-box .form-control {
    font-size: 0.8rem;
}

.form-control:focus {
    border-color: #0457b7;
    box-shadow: 0 0 0 3px rgba(4, 87, 183, .25);
}

.form-control.is-valid:focus {
    border-color: #28a745;
}

.form-control.is-invalid:focus {
    border-color: #dc3545;
}

.search-box select.form-control:not([size]):not([multiple]) {
    height: inherit;
}

.form-control-plaintext {
    padding: .4rem .5rem;
    width: 100%
}

.form-control-plaintext:focus {
    outline: none;
}

.custom-select:disabled {
    border: transparent;
    color: initial;
    background: initial;
    padding: .4rem .5rem;
}

.info-box table {
    margin-bottom: 0;
}

.info-box th {
    padding-left: 0;
    /* font-weight: normal; */
    vertical-align: middle;
}

.info-box td {
    vertical-align: middle;
}

.info-box th label {
    margin: auto;
}

.help-text {
    color: grey;
}

.wide-btn {
    padding-left: 2rem;
    padding-right: 2rem;
}

.confirm-btn {
    margin: 15px 0 15px 15px;
}

.confirm-btn-set {
    float: right;
}

.custom-control-input:focus~.custom-control-indicator {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(0, 123, 255, .25);
}

.bottom-btn {
    margin-top: 15px;
    margin-bottom: 15px;
}

.top-buttom {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* table style */

.subject-tag {
    font-size: 14px;
    font-weight: normal;
}

.result-list {
    padding: 0 15px;
}

.tutor-info:hover {
    cursor: pointer;
}

.alert {
    position: relative;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
}

.alert-dismissible .text {
    padding-right: 30px;
}

table#timeslot-select .bg-success:hover {
    background-color: #218f3a!important;
}

table#timeslot-select th {
    text-align: center;
}

table#timeslot-select .available:hover {
    cursor: pointer;
}

#result-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#result-card .card-body {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
}

#result-card .card-title {
    margin-top: 1.25rem;
    margin-bottom: 2.25rem;
    color: grey;
}

.comment-avatar {
    padding-right: 10px;
}

.inline-star {
    height: 20px;
    width: 20px;
    vertical-align: text-bottom;
}

#show-all-review {
    margin-left: 20px;
}

.chat-link {
    margin-left: 6px;
}

#tutor-table thead th {
    vertical-align: middle;
}