.alert-light {
    border-color: #b9b9b9;
}

#chat-form {
    margin-bottom: 1rem;
}

.alert .time {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    padding-right: inherit;
    font-size: .8rem
}