body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-login .form-login-heading,
.form-login .checkbox {
  margin-bottom: 10px;
}

.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-login .form-control:focus {
  z-index: 2;
}

.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
  margin-bottom: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.affliated {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.affliated a {
  padding-left: 10px;
}

.brand img {
    width: 100px;
    margin-bottom: 20px;
}

.form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px 10px;
  font-size: 16px;
}

.form-signup .form-control:focus {
  border-color: #0457b7;
  box-shadow: 0 0 0 3px rgba(4,87,183,.25);
}

.form-signup label {
  margin-bottom: .2rem;
}