@media (min-width: 768px) {
    .profile {
        margin-left: 30px;
    }
}

.navbar-brand {
    line-height: 20px;
}

.navbar-brand img {
    width: 85px;
}

.bd-navbar {
    background-color: #0457b7;
}

.bd-navbar .navbar-nav .nav-link {
    color: #bfd3e4;
}

.bd-search .form-control:focus {
    border-color: #0457b7;
    box-shadow: 0 0 0 3px rgba(4,87,183,.25);
}

.bd-title {
    margin-bottom: 1rem;
}

.dropdown-menu {
    right: 0;
    left: auto;
}