{% extends 'nav.html' %}

<!-- title -->
{% block title %} About - Tutoria {% endblock %}

<!-- extra style sheet -->
{% block stylesheet %}
  <link href="/static/css/catalogue.css" rel="stylesheet"> 
{% endblock %}

<!-- menu -->
{% block menu %}
  {% if user.is_authenticated %}
    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'home' %}">
        Overview
      </a>
    </div>

    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'session' %}">
        My Bookings
      </a>
    </div>

    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'search' %}">
        Search Tutor
      </a>
    </div>
  
    {% if user.profile.identity == 'T' %}
      <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'offerslot' %}">
          Set Timeslots
        </a>
      </div>
      <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'sessionTutoring' %}">
          My Tutoring Sessions
        </a>
      </div>
    {% endif %}

    <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'wallet' %}">
            My Wallet
        </a>
    </div>
  
  {% endif %}
{% endblock %}

<!-- main -->
{% block content %}
  <h1 class="bd-title">About</h1>

  <div class="card text-center">
    <div class="card-header">
      Our Missions
    </div>
    <div class="card-body">
      <p class="card-text">The Tutoria platform to help students find good tutors and to book sessions with them up to a week in advance. Contracted tutors employed by HKU will also use the platform to manage their bookings. Contracted tutors’ services are free but their timeslots get booked up quickly
  and many students find private tutoring more convenient.  For private tutors, Tutoria will also manage marketing and handle the payment process for tutorial sessions. HKU will provide links to Tutoria from its portal and from Moodle course pages. MyTutors will not charge universities for Tutoria. It will derive revenue by taking a small commission, charged to students, on each private tutorial timeslot transaction.
  The company is seeking to contract an outside team to develop a pilot version of Tutoria for HKU.
    </p>
    </div>

  </div>
  <div class="card text-center">
    <div class="card-header">
      Powered by
    </div>
    <div class="card-body">
      <p class="card-text">
        <img src="/static/assets/img/PANACEA.png" width="400"/>
        <br>
        <br>With our world-class developers and founders:
        <br>Nian Xiaodong
        <br>Tang Chi Ian
        <br>Wang Junjie
        <br>Wang Michelle Yih-chyan
      </p>
    </div>

  </div>
{% endblock %}