<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/favicon.ico">

  <title>{% block title %}Tutoria - a tutor brokering platform{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/account.css" rel="stylesheet">
</head>

<body>

  {% block content %}
  {% endblock %}

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/static/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>