{% extends 'nav.html' %}

<!-- title -->
{% block title %}
  Search - Tutoria
{% endblock %}

<!-- extra style sheet -->
{% block stylesheet %}
  <link href="/static/css/catalogue.css" rel="stylesheet">
{% endblock %}

<!-- menu -->
{% block menu %}
  <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'home' %}">
          Overview
      </a>
  </div>
  
  <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'session' %}">
          My Tutorials
      </a>
  </div>

  <div class="bd-toc-item active">
      <a class="bd-toc-link" href="#">
          Catalogue
      </a>
  </div>
{% endblock %}

<!-- main -->
{% block content %}
  <h1 class="bd-title">Catalogue</h1> 

  <!-- List all avaliable sessions -->
  <div class="row" id="tutorial-list">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="min-width:90px;">Tutor</th>
          <th scope="col" style="min-width:90px;">Price</th>
          <th scope="col">Subjects</th>
          <th scope="col">Reviews</th>
        </tr>
      </thead>
      <tbody>
          {% for tutor in allTutors %}
          <tr class="tutor-info" tutor-id="{{ tutor.id }}">
              <th>{{ tutor.username }}</th>
              <td>HK$ {{ tutor.profile.price }}</td>
              <td>
                {% for each in tutor.profile.subjects %}
                <span class="badge badge-secondary subject-tag">{{ each }}</span>
                {% endfor %}
              </td>
              <td>Insufficient reviews</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}