{% extends 'nav.html' %}

<!-- title -->
{% block title %} Wallet - Tutoria {% endblock %}

<!-- extra style sheet -->
{% block stylesheet %}
    <link href="/static/css/wallet.css" rel="stylesheet">
    <link href="/static/css/catalogue.css" rel="stylesheet">
{% endblock %}


<!-- menu -->
{% block menu %} 
    {% if user.is_authenticated %}
        <div class="bd-toc-item">
            <a class="bd-toc-link" href="{% url 'home' %}">
                Overview
            </a>
        </div>
        <div class="bd-toc-item">
            <a class="bd-toc-link" href="{% url 'session' %}">
                My Bookings
            </a>
        </div>

        <div class="bd-toc-item">
            <a class="bd-toc-link" href="{% url 'search' %}">
                Search Tutor
            </a>
        </div>

        {% if user.profile.identity == 'T' %}
            <div class="bd-toc-item">
                <a class="bd-toc-link" href="{% url 'offerslot' %}">
                    Set Timeslots
                </a>
            </div>
        {% endif %} 

        <div class="bd-toc-item active">
            <a class="bd-toc-link" href="{% url 'wallet' %}">
                My Wallet
            </a>
        </div>
        
    {% endif %} 
{% endblock %}

<!-- main -->
{% block content %}
  <h1 class="bd-title">Wallet</h1>
  <p class="bd-lead">{{action | capfirst}} money</p>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      {{ field.label_tag }}
      {% for each in field%}
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon">HK$</div>
          {{ each }}
        </div>
      {% endfor %}
    {% endfor %}
    <br>
    <button class="btn btn-info wide-btn" type="submit" value="Search">Confirm</button>
  </form>
{% endblock %}
