{% for obj in chat %}
{% if obj.user_from == request.user %}
  <div class="row justify-content-end">
    <div class="col-md-7">
      <div class="alert alert-light">
          <p>{{ obj.message }}</p>
        <div class="time">{{ obj.time|date:"H:i M-d" }}</div>
      </div>
    </div>
  </div>
  
{% else %}
  <div class="row justify-content-start">
    <div class="col-md-7">
      <div class="alert alert-info">
        <p>{{ obj.message }}</p>
        <div class="time">{{ obj.time|date:"H:i M-d" }}</div>
      </div>
    </div>
  </div>
{% endif %}

{% empty %}
<p>No messages yet!</p>

{% endfor %}