{% extends 'nav.html' %}

<!-- title -->
{% block title %} Change Offering Slots - Tutoria {% endblock %}

{% block stylesheet %}
    <link href="/static/css/schedule.css" rel="stylesheet"> 
    <link href="/static/css/catalogue.css" rel="stylesheet"> 
{% endblock %}

<!-- menu -->
{% block menu %} 
    {% if user.is_authenticated %}
        <div class="bd-toc-item">
            <a class="bd-toc-link" href="{% url 'home' %}">
                Overview
            </a>
        </div>
        <div class="bd-toc-item">
            <a class="bd-toc-link" href="{% url 'session' %}">
                My Bookings
            </a>
        </div>

        <div class="bd-toc-item">
            <a class="bd-toc-link" href="{% url 'search' %}">
                Search Tutor
            </a>
        </div>

        {% if user.profile.identity == 'T' %}
            <div class="bd-toc-item active">
                <a class="bd-toc-link" href="{% url 'offerslot' %}">
                    Set Timeslots
                </a>
            </div>
        {% endif %} 

        <div class="bd-toc-item">
            <a class="bd-toc-link" href="{% url 'wallet' %}">
                My Wallet
            </a>
        </div>
        
    {% endif %} 
{% endblock %}

<!-- main -->
{% block content %}
    <h1 class="bd-title">Change Offering Slots</h1>
    <p class="bd-lead">Please click on the schedule to modify your available timeslots. Then click the save button to save the change(s).</p> 
    <p style="margin-bottom: 2rem;"><span class="badge badge-success">Open for booking</span> <span class="badge badge-dark">Blacked out</span> <span class="badge badge-danger">Cannot modify</span></p>

    <form method="post">
        {% csrf_token %}
        <table class="table table-hover table-sm table-bordered table-responsive" id="offerslots" style="display: none;">
            <thead>
                <tr>
                    <th></th>
                    {% for slots in timeslots %}
                        <th>{{slots}}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for field in form %}
                    {% ifchanged field.field.widget.attrs.date %}
                        {% if forloop.counter0 != 0 %}
                        </tr>
                        {% endif %}
                        <tr>
                        <th>
                            {{ field.field.widget.attrs.date }}
                        </th>
                        {% endifchanged %}
                        <td class=" 
                            {% if field.field.widget.attrs.status == 'Available' %} checkable bg-success
                            {% elif field.field.widget.attrs.status == 'Blocked' %} checkable bg-dark
                            {% else %} bg-danger
                            {% endif %}">
                            <label class="d-none">{{ field }}</label>
                        </td>
                {% endfor %}
                </tr>
            </tbody>
        </table>

        <div class="container">
            <div class="row justify-content-center">
                <button class="btn btn-primary wide-btn" id="black-out-save-btn" style="text-align:center" type="submit">Save</button>
            </div>
        </div>
    </form>
    <br>

{% endblock %}

{% block script %}
    <script src="/static/js/jquery.tabletransposer.js"></script>
    <script src="/static/js/offer-slots.js"></script>
{% endblock %}