{% extends 'nav.html' %}

<!-- title -->
{% block title %}
  Overview - Tutoria
{% endblock %}

<!-- menu -->
{% block menu %}
  <div class="bd-toc-item active">
      <a class="bd-toc-link" href="#">
          Overview
      </a>
  </div>
  
  <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'session' %}">
          My Tutorials
      </a>
  </div>

  <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'viewAll' %}">
          Catalogue
      </a>
  </div>
{% endblock %}

<!-- main -->
{% block content %}
  <h1 class="bd-title">Overview</h1>
  <p>Under Constuction.</p>
{% endblock %}