{% extends 'nav.html' %}

<!-- title -->
{% block title %}
  My Tutorials - Tutoria
{% endblock %}

<!-- extra style sheet -->
{% block stylesheet %}
  <link href="/static/css/my-tutorials.css" rel="stylesheet">
{% endblock %}

<!-- menu -->
{% block menu %}
  {% if user.is_authenticated %}
    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'home' %}">
        Overview
      </a>
    </div>

    <div class="bd-toc-item active">
        <a class="bd-toc-link" href="#">
            My Tutorials
        </a>
    </div>

    <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'search' %}">
            Search Tutor
        </a>
    </div>

    {% if user.profile.identity != 'S' %}
      <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'offerslot' %}">
          Set Sessions
        </a>
      </div>
    {% endif %}

    <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'wallet' %}">
            My Wallet
        </a>
    </div>

    <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'profile' %}">
            My Profile
        </a>
    </div>

  {% endif %}
{% endblock %}

<!-- main -->
{% block content %}
  <h1 class="bd-title">My Tutorials</h1>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Upcoming</a>
    </li>
    <li class="nav-item disabled">
      <a class="nav-link" href="#">History</a>
    </li>
  </ul>

  <!-- View all booked tutorials -->
  <div class="card-columns" id="all-tutorials">
    {% for session in allSessions %}
    <div class="card" >
      <div class="card-body" sessionId="{{ session.id }}">
        <h4 class="card-title" status="{{ session.status }}">{{ session.topic }}</h4>
        <p class="card-text">Tutor: {{ session.tutor }}
          <br>Time: {{ session.start }}-{{ session.end }}</p>
        <button class="btn btn-primary session-detail-btn">Details</buttona>
        <button class="btn btn-danger session-cancel-btn">Cancel</button>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}

{% block script %}
  <script src="/static/js/view-session.js"></script>
{% endblock %}