{% extends 'nav.html' %}

<!-- title -->
{% block title %}
  My Bookings - Tutoria
{% endblock %}

<!-- extra style sheet -->
{% block stylesheet %}
  <link href="/static/css/my-tutorials.css" rel="stylesheet">
{% endblock %}

<!-- menu -->
{% block menu %}
  {% if user.is_authenticated %}
    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'home' %}">
        Overview
      </a>
    </div>

    <div class="bd-toc-item active">
        <a class="bd-toc-link" href="#">
            My Bookings
        </a>
    </div>

    <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'search' %}">
            Search Tutor
        </a>
    </div>

    {% if user.profile.identity != 'S' %}
      <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'offerslot' %}">
          Set Timeslots
        </a>
      </div>
    {% endif %}

    <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'wallet' %}">
            My Wallet
        </a>
    </div>

  {% endif %}
{% endblock %}

<!-- main -->
{% block content %}
  <h1 class="bd-title">My Bookings</h1>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if active == 0 %} active {% endif %}" href="{% url 'session' %}">Upcoming</a>
    </li>
    <li class="nav-item disabled">
      <a class="nav-link {% if active == 1 %} active {% endif %}" href="{% url 'sessionHistory' %}">History</a>
    </li>
  </ul>

  <!-- View all booked tutorials -->
  <div class="card-columns" id="all-tutorials">
    {% for session in allSessions %}
    <div class="card" >
      <div class="card-body" sessionId="{{ session.id }}">
        <h4 class="card-title" status="{{ session.status }}">{{ session.topic }}</h4>
        <p class="card-text">Tutor: {{ session.timeslot.tutor.get_full_name }}
          <br>Start time: {{ session.timeslot.start }}
          <br>End time: {{ session.timeslot.end }}</p>
        <a href="/viewSession/{{session.id}}" class="btn btn-primary session-detail-btn">Details</a>
        {% if session.status == "Booked" %}
          <!-- Cancel button notice modal -->
          <button type="button" class="btn btn-danger session-cancel-btn" data-toggle="modal" data-target="#confrimModal">
              Cancel
          </button>
          <!-- Modal -->
          <div class="modal fade" id="confrimModal" tabindex="-1" role="dialog" aria-labelledby="confrimModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="confrimModalLabel">Warning</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure to cancel this session? <br>The payment will be returned to your wallet.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">  No  </button>
                  <a href="/canceling/{{session.id}}" class="btn btn-danger">  Yes  </a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}

{% block script %}
  <script src="/static/js/view-session.js"></script>
{% endblock %}