{% extends 'nav.html' %}

<!-- title -->
{% block title %} Search - Tutoria {% endblock %}

<!-- extra style sheet -->
{% block stylesheet %}
  <link href="/static/css/catalogue.css" rel="stylesheet"> 
  <link href="/static/css/tablesorter.css" rel="stylesheet"> 
{% endblock %}

<!-- menu -->
{% block menu %}
  {% if user.is_authenticated %}
    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'home' %}">
        Overview
      </a>
    </div>

    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'session' %}">
        My Tutorials
      </a>
    </div>

    <div class="bd-toc-item active">
      <a class="bd-toc-link" href="{% url 'search' %}">
        Search Tutor
      </a>
    </div>
  
    {% if user.profile.identity != 'S' %}
      <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'offerslot' %}">
          Set Timeslots
        </a>
      </div>
    {% endif %}

    <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'wallet' %}">
            My Wallet
        </a>
    </div>

  {% endif %}
{% endblock %}

<!-- main -->
{% block content %}
  <h1 class="bd-title">Search Tutor</h1>

  <form class="search-box" action="{% url 'search' %}" method="POST">
    <table class="table table-sm">
      <tbody>
        {% csrf_token %}
        {% for field in form %}
          {% if field.name != "price_min" and field.name != "price_max" and field.name != "available_only" %}
            <tr>
              <th>
                {{ field.label_tag }}
              </th>
              <td>
                {{ field }}
              </td>
            </tr>
          {% endif %}
        {% endfor %}

        <tr>
          <th>
            <label for="subjecttag">Price range:</label>
          </th>
          <td>
            <div class="row">
              <div class="col">
                {{form.price_min}}
              </div>
              <span>-</span>
              <div class="col">
                {{form.price_max}}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    
    <label class="custom-control custom-checkbox" style="display:block">
      {{form.available_only}}
      <!-- <input type="checkbox" class="custom-control-input" name="available_only" id="id_available_only"> -->
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Only show avaliable tutors</span>
    </label>
  
    <button class="btn btn-info" id="tutor-search-btn" type="submit" value="Search">Search</button>
  </form>
  <br>

  <!-- List all avaliable sessions -->
  {% if allTutors %}
  <div class="row result-list">
      <table class="table table-hover table-responsive tablesorter" id="tutor-table">
        <thead>
          <tr>
            <th scope="col" style="min-width:90px;">Tutor</th>
            <th scope="col" style="min-width:90px;">
              Price<span style="color:gray;font-size:0.75rem">(HKD)</span>
            </th>
            <th scope="col">Subjects</th>
            <th scope="col">Reviews</th>
          </tr>
        </thead>
        <tbody>
          {% for tutor in allTutors %}
          <tr class="tutor-info" tutor-id="{{ tutor.id }}">
            <th>{{ tutor.first_name }} {{ tutor.last_name }}</th>
            <td>{{ tutor.tutorprofile.price }}</td>
            <td>
              {% for tag in tutor.tutorprofile.subjects %}
              <span class="badge badge-secondary subject-tag">{{ tag }}</span>
              {% endfor %}
            </td>
            <td>Insufficient reviews</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

  {% else %}
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
      <span class="text">Currently no result.</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
{% endblock %}

<!-- custom scripts -->
{% block script %}
  <script src="/static/js/search-tutor.js"></script>
  <script type="text/javascript" src="/static/assets/js/jquery.tablesorter.js"></script> 
{% endblock %}