{% extends 'nav.html' %}

<!-- title -->
{% block title %} Search - Tutoria {% endblock %}

<!-- extra style sheet -->
{% block stylesheet %}
  <link href="/static/css/catalogue.css" rel="stylesheet"> 
{% endblock %}

<!-- menu -->
{% block menu %}
  {% if user.is_authenticated %}
    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'home' %}">
        Overview
      </a>
    </div>

    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'session' %}">
        My Tutorials
      </a>
    </div>

    <div class="bd-toc-item active">
      <a class="bd-toc-link" href="#">
        Search Tutor
      </a>
    </div>
  
    {% if user.profile.identity != 'S' %}
      <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'offerslot' %}">
          Set Sessions
        </a>
      </div>
    {% endif %}

    <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'wallet' %}">
            My Wallet
        </a>
    </div>

    <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'profile' %}">
            My Profile
        </a>
    </div>
  
  {% endif %}
{% endblock %}

<!-- main -->
{% block content %}
  <h1 class="bd-title">Search Tutor</h1>

  <form class="tutor-search" action="{% url 'search' %}" method="POST">
    <table class="table table-sm">
      <tbody>
        <tr>
          <th>
            <label for="university">University:</label>
          </th>
          <td>
            <input type="text" class="form-control" name="university" placeholder="University name...">
          </td>
        </tr>
        <tr>
          <th>
            <label for="coursecode">Course:</label>
          </th>
          <td>
            <input type="text" class="form-control" name="coursecode" placeholder="Course code...">
          </td>
        </tr>
        <tr>
          <th>
            <label for="tutorname">Name:</label>
          </th>
          <td>
            <input type="text" class="form-control" name="tutorname" placeholder="Tutor's name...">
          </td>
        </tr>
        <tr>
          <th>
            <label for="subjecttag">Subject tags:</label>
          </th>
          <td>
            <input type="text" class="form-control" name="subjecttag" placeholder="Separate using ';'">
          </td>
        </tr>
        <tr>
          <th>
            <label for="subjecttag">Price range:</label>
          </th>
          <td>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" style="display:inline" name="price_min" placeholder="minimum price">
              </div>
              <span>-</span>
              <div class="col">
                <input type="text" class="form-control" style="display:inline" name="price_max" placeholder="minimum price">
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <label class="custom-control custom-checkbox" style="display:block">
      <input type="checkbox" class="custom-control-input" name="avaliableOnly">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Only show avaliable tutors</span>
    </label>
  
    <button class="btn btn-info" type="submit" value="Search">Search</button>
  </form>
  <br>

  <!-- List all avaliable sessions -->
  <div class="row" id="tutorial-list">
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col" style="min-width:90px;">Tutor</th>
          <th scope="col" style="min-width:90px;">Price</th>
          <th scope="col">Subjects</th>
          <th scope="col">Reviews</th>
        </tr>
      </thead>
      <tbody>
        {% for tutor in allTutors %}
        <tr class="tutor-info" tutor-id="{{ tutor.id }}">
          <th>{{ tutor.username }}</th>
          <td>HK$ {{ tutor.profile.price }}</td>
          <td>
            {% for tag in tutor.profile.subjects %}
            <span class="badge badge-secondary subject-tag">{{ tag }}</span>
            {% endfor %}
          </td>
          <td>Insufficient reviews</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

<!-- custom scripts -->
{% block script %}
  <script src="/static/js/booking.js"></script>
{% endblock %}