{% extends 'nav.html' %}

<!-- title -->
{% block title %} Search - Tutoria {% endblock %}

<!-- extra style sheet -->
{% block stylesheet %}
  <link href="/static/css/catalogue.css" rel="stylesheet"> 
{% endblock %}

<!-- menu -->
{% block menu %}
  {% if user.is_authenticated %}
    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'home' %}">
        Overview
      </a>
    </div>

    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'session' %}">
        My Tutorials
      </a>
    </div>

    <div class="bd-toc-item">
      <a class="bd-toc-link" href="#">
        Search Tutor
      </a>
    </div>
  
    {% if user.profile.identity != 'S' %}
      <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'offerslot' %}">
          Set Sessions
        </a>
      </div>
    {% endif %}

    <div class="bd-toc-item active">
        <a class="bd-toc-link" href="{% url 'wallet' %}">
            My Wallet
        </a>
    </div>

    <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'profile' %}">
            My Profile
        </a>
    </div>
  
  {% endif %}
{% endblock %}

<!-- main -->
{% block content %}
  <h1 class="bd-title">Transaction History</h1>

  <!-- List all avaliable sessions -->
  <div class="row" id="transaction-list">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">Amount</th>
          <th scope="col">Time</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in allTransactions %}
        <tr class="transaction-info">
          <td>{{ transaction.from_wallet.user.username }}</td>
          <td>{{ transaction.to_wallet.user.username }}</td>
          <td>HK$ {{ transaction.amount }}</td>
          <td>{{ transaction.time }} </td>
          <td>{{ transaction.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}