{% extends 'nav.html' %}

<!-- title -->
{% block title %}
  Details - Tutoria
{% endblock %}

<!-- extra style sheet -->
{% block stylesheet %}
  <link href="/static/css/catalogue.css" rel="stylesheet">
{% endblock %}

<!-- menu -->
{% block menu %}
  {% if user.is_authenticated %}
    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'home' %}">
        Overview
      </a>
    </div>

    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'session' %}">
        My Tutorials
      </a>
    </div>

    <div class="bd-toc-item active">
      <a class="bd-toc-link" href="{% url 'search' %}">
        Search Tutor
      </a>
    </div>

    {% if user.profile.identity != 'S' %}
      <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'offerslot' %}">
          Set Timeslots
        </a>
      </div>
    {% endif %}

    <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'wallet' %}">
            My Wallet
        </a>
    </div>

  {% endif %}
{% endblock %}

<!-- main -->
{% block content %}
  <h1 class="bd-title">Details</h1> 

  <!-- tutor info -->
  <div class="container">
    <div class="row">
      <table class="table">
        <tbody>
          <tr>
            <th>Tutor</th>
            <td>{{ session_info.name }}</td>
          </tr>
          <tr>
            <th>University</th>
            <td>{{ session_info.school }}</td>
          </tr>
          <tr>
            <th>Date</th>
            <td>{{ session_info.date }}</td>
          </tr>
          <tr>
            <th>Time</th>
            <td>{{ session_info.time }}</td>
          </tr>
          <tr>
            <th>Rate</th>
            <td>HK$ {{ session_info.tutor_price }} / hr</td>
          </tr>
          <tr>
            <th>Total Pay</th>
            <td>HK$ {{ session_info.total_price }} (including HK$ {{ session_info.commission }} as commission)</td>
          </tr>
        </tbody>
        </thead>
      </table>
    </div>
  <!-- List all avaliable sessions -->
  <table class="table table-hover table-sm table-bordered table-responsive" id="timeslot-select" style="display: none;">
    <thead>
        <tr>
            <th></th>
            {% for slots in timeslots %}
                <th>{{slots}}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for slot in allSlots %}
            {% ifchanged slot.slot_time_str.date %}
                {% if forloop.counter0 != 0 %}
                </tr>
                {% endif %}
                <tr>
                <th>
                    {{ slot.slot_time_str.date }}
                </th>
                {% endifchanged %}
                <td class="clickable {% if slot.status == 'Available' %}bg-success{% else %}bg-dark{% endif %}">
                </td>
        {% endfor %}
        </tr>
    </tbody>
</table>

    <a href="javascript:history.go(-1)"><button type="button" class="btn btn-secondary confirmbtn">Back</button></a>
{% endblock %}

<!-- custom scripts -->
{% block script %}
  <script src="/static/js/jquery.tabletransposer.js"></script>
  <script src="/static/js/view-tutor.js"></script>
{% endblock %}