{% extends 'nav.html' %}

<!-- title -->
{% block title %}
  Details - Tutoria
{% endblock %}

<!-- extra style sheet -->
{% block stylesheet %}
  <link href="/static/css/catalogue.css" rel="stylesheet">
{% endblock %}

<!-- menu -->
{% block menu %}
  {% if user.is_authenticated %}
    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'home' %}">
        Overview
      </a>
    </div>

    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'session' %}">
        My Tutorials
      </a>
    </div>

    <div class="bd-toc-item active">
      <a class="bd-toc-link" href="{% url 'search' %}">
        Search Tutor
      </a>
    </div>

    {% if user.profile.identity != 'S' %}
      <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'offerslot' %}">
          Set Timeslots
        </a>
      </div>
    {% endif %}

    <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'wallet' %}">
            My Wallet
        </a>
    </div>

  {% endif %}
{% endblock %}

<!-- main -->
{% block content %}
  <h1 class="bd-title">{{ tutor.get_full_name }}</h1> 

  <!-- tutor info -->
  <div class="container">
    <div class="row">
      <table class="table">
        <tbody>
          <tr>
            <th>Breif biography</th>
            <td>{{ tutor.profile.get_school_name }}</td>
          </tr>
          <tr>
            <th>University</th>
            <td>{{ tutor.profile.get_school_name }}</td>
          </tr>
          <tr>
            <th>Courses</th>
            <td>
                {% for course in tutor.tutorprofile.courses %}
                  <span class="badge badge-secondary subject-tag">{{ course }}</span>
                {% endfor %}
            </td>
          </tr>
          <tr>
            <th>Subject tags</th>
            <td>
              {% for tag in tutor.tutorprofile.subjects %}
                <span class="badge badge-secondary subject-tag">{{ tag }}</span>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <th>Rate</th>
            <td>HK$ {{ tutor.tutorprofile.price }} / hour</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- List all avaliable time -->
  {% if allSlots %}
    <p>
      <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseTimeslots" aria-expanded="false" aria-controls="collapseTimeslots" id="showTimeslotBtn">
        Show all available timeslots >>
      </button>
    </p>
      
    <div class="container">
      <div class="collapse" id="collapseTimeslots">
        <p style="margin-bottom: 1rem;"><span class="badge badge-success">Available</span> <span class="badge badge-dark">Unavailable</span></p>
        <div class="row">
          <table class="table table-hover table-sm table-bordered table-responsive" id="timeslot-select" style="display: none;">
            <thead>
                <tr>
                    <th></th>
                    {% for slots in timeslots %}
                        <th>{{slots}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for slot in allSlots %}
                  {% ifchanged slot.slot_time_str.date %}
                    {% if forloop.counter0 != 0 %}</tr>{% endif %}
                    <tr>
                    <th>{{ slot.slot_time_str.date }}</th>
                  {% endifchanged %}
                    <td class="timeslot {% if slot.status == 'Available' %}available bg-success{% else %}unavailable bg-dark{% endif %}" timeslot-id="{{slot.id}}">
                    </td>
                {% endfor %}
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  {% else %}
    <p>
      <button class="btn btn-outline-secondary" type="button" disabled>
        No available timeslots currently.
      </button>
    </p>
  {% endif %}
{% endblock %}

<!-- custom scripts -->
{% block script %}
  <script src="/static/js/jquery.tabletransposer.js"></script>
  <script src="/static/js/view-tutor.js"></script>
{% endblock %}