{% extends 'nav.html' %}

<!-- title -->
{% block title %}
  Details - Tutoria
{% endblock %}

<!-- extra style sheet -->
{% block stylesheet %}
  <link href="/static/css/catalogue.css" rel="stylesheet">
{% endblock %}

<!-- menu -->
{% block menu %}
  {% if user.is_authenticated %}
    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'home' %}">
        Overview
      </a>
    </div>

    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'session' %}">
        My Tutorials
      </a>
    </div>

    <div class="bd-toc-item active">
      <a class="bd-toc-link" href="{% url 'search' %}">
        Search Tutor
      </a>
    </div>

    {% if user.profile.identity != 'S' %}
      <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'offerslot' %}">
          Set Timeslots
        </a>
      </div>
    {% endif %}

    <div class="bd-toc-item">
        <a class="bd-toc-link" href="{% url 'wallet' %}">
            My Wallet
        </a>
    </div>

  {% endif %}
{% endblock %}

<!-- main -->
{% block content %}
  <h1 class="bd-title">Details</h1> 

  <!-- List all avaliable sessions -->
  <form method="post">
    <ul class="list-group">
      {% csrf_token %}
      {% for field in form %}
        {% for each in field%}
        <li class="list-group-item">{{ each }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
    <button type="submit" class="btn btn-success confirmbtn">Submit</button>
    <a href="javascript:history.go(-1)"><button type="button" class="btn btn-secondary confirmbtn">Back</button></a>
  </form>
{% endblock %}

<!-- custom scripts -->
{% block script %}
  <script src="/static/js/booking.js"></script>
{% endblock %}